

.navbar-transparent{
	z-index: 98;
	background: transparent !important; 
	border-right: 0px;
	border-left: 0px;
	border-radius: 0px;
	border-top: 0px;
	color: #fff;

}

.navbar-default{
	z-index: 98;
	border-right: 0px;
	border-left: 0px;
	border-radius: 0px;
	border-top: 0px;
	margin-bottom: 0;
}

.mini-nav{
	width: 100%;
	height: 60px;
	background-color: #fff;
	z-index: -99;
}


.navbar-brand{
	color: #4c95d8 !important;
    font-family: initial;
    font-size: 30px;
    font-weight: bold;
	margin-left: 33px !important;    
}

.navbar-transparent .navbar-nav>li>a{
	color: #fff;
}

.navbar-transparent .navbar-nav>li>a:hover {
	color: #fff !important;
}


.social-btn{
	float: left;
}


.hd-cotainer{
	text-align: center;
	margin-top: 180px;
	color: #fff;
}

.login-btn{
	background-color: #f36f00;
}

.login-btn:hover{
	background-color: #cc6005 !important;
	color: #fff !important;
}

.front-page-background{
    background-image: url(../img/Background.jpg);
    background-size: cover;
    width: 100%;
    min-height: 600px;
    position: absolute;
    top: 0;
    z-index: -97;
}

.body-1{
	text-align: center;
	margin-top: 510px;
	margin-bottom: 50px;
}

.body-2{
	background-color: #f2f2f2;
	margin-bottom: 50px;
}

.body-2{
	margin-bottom: 50px;
}


.dash-img{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.body-footer{
	background-image: url(../img/Background-footer.png);
	width: 100%;
	min-height: 250px;
	text-align: center;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}


.body-footer-head{
	margin-top: 80px;
	font-size: 30px;
	font-weight: bold;
}

.text-center{
	text-align: center;

}

.foot-contact{
	background-image: url(../img/foot.jpg);
	width: 100%;
	min-height: 250px;
	text-align: center;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.foot-contact{
	color: #fff;
}


@media only screen and (max-width : 767px) {
	.navbar-transparent{
		background-color: #fff !important;
		
	}
	.navbar-transparent .navbar-nav>li>a{
		color: #000;
	}

	.body-1 {

	    margin-top: 600px;
	}
}

@media only screen and (max-width : 600px) {

}